
header{
    font-size: 22px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main{

    width: 50%;
    margin: auto;
}

.main form{

    width: 40%;
    margin: auto;

    padding: 12px;

    display: flex;
    justify-content: space-around;

}

.main form input{
    padding: 10px;
    width: 40%;

    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;

    border: 1px solid rgb(94, 19, 19);
}

.main form input:target{
    border: 3px solid salmon;
}

.main form button{
    padding: 10px;
    width: 80px;
}

#weather{
    background-color: whitesmoke;
    /* border: 3px solid gray; */
    border-radius: 10px;
    border-collapse: collapse;

    width: 75%;
    margin: auto;
    margin-top: 10px;

    visibility: hidden;
}

#weather #weatherTown{
    text-align: center;
    padding: 25px 15px 15px 15px ;
    text-align: center;

    font-size: 35px;
}

#weather #weatherMain{
    padding-left: 20px;


    font-size: 22px;

    text-align: center;
}

#weather #weatherExtra{
    padding-left: 20px;


    font-size: 15px;
}